@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";
.tool {
  &__title {
    @include primary-btn;
    margin-top: 1rem;

    &--active {
      font-style: italic;
    }
  }

  &__item-container {
    overflow: hidden;
    transition: height 0.1s ease-out;

    &--shown {
      overflow: auto;
      transition: height 0.1s ease-out;
    }
  }

  &__item {
    margin-top: 0.7rem;
    @include secondary-btn;
    color: colors.$secondary-gray;

    &--cross-out {
      cursor: not-allowed;
      &:hover {
        text-decoration: line-through;
      }
    }
  }

  &__input {
    @include text-input;
    width: 7rem;
    padding: 0.2rem 0rem;
    border: none;
    border-bottom: 1px solid colors.$primary-dark;
    background-color: transparent;
    margin-top: 0.3rem;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #bbb8b8;
    }
  }
}
