@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.context-menu {
  position: absolute;
  z-index: 10;
  background-color: colors.$secondary-dark;

  &.not-active {
    display: none;
  }
  &.active {
    display: block;
  }
  &__node {
    @include context-menu;
    color: colors.$primary-gray;
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
    padding: 0.4rem 0.3rem;
    cursor: default;
  }
  &__btn {
    @extend .context-menu__node;
    &:hover {
      background-color: colors.$accent;
      color: colors.$secondary-dark;
    }
  }
}
