@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/font-mixins" as *;
@use "../../styles/partials/colors";

.ReactModal__Overlay {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.283) !important;
  @include flex;
  z-index: 30;
}
.ReactModal__Content {
  background-color: white !important;
  // background-color: rgba(0, 0, 0, 0.283) !important;
  border: none !important;
  @include flex;
  width: fit-content;
  position: relative !important;
}

.dropzone {
  margin-top: 1rem;
  background-color: #ffffffc0;
  height: 35vh;
  @include flex;
  padding: 2rem;
  border: 1px colors.$primary-main dashed;
  width: 100%;
}

.file-form {
  @include flex(column);
  &__preview {
    height: 35vh;
    margin-top: 1rem;
  }
  &__btn {
    @include primary-btn;
    background-color: colors.$primary-main;
    color: colors.$primary-light;
    padding: 0.6rem;
    border-radius: 2px;
    margin-top: 1rem;
    align-self: flex-start;
  }

  &__name {
    margin-top: 1rem;
    align-self: flex-start;
  }

  &__info {
    @include body;
    color: colors.$primary-dark;
    margin-top: 1rem;
    align-self: flex-start;
  }
}

.upload {
  padding: 1rem;
  width: auto;
  border-radius: 2px;
  @include flex(column, center, flex-start);
  &__dnd {
    width: 60%;
  }
  &__title {
    @include sub-header;
    font-size: 2rem;
    color: colors.$primary-dark;
    align-self: flex-start;
  }
  &__cancel {
    margin-top: 1rem;
    @include secondary-btn;
    text-decoration: underline;
    color: colors.$primary-dark;
  }
}
