$primary-main: #4c4cff;
$primary-dark: #000;
$primary-light: #fff;
$primary-gray: #fbfbfb;

$secondary-main: #c1c4f0;
$secondary-dark: #1f2126;
$secondary-light: #ddd;
$secondary-gray: #959595;

$accent: #fff44d;
$error: #ff554d;

$modal-bg: rgba(255, 255, 255, 0.178);
