@use "./typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: primary-font;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
