@font-face {
  font-family: primary-font;
  src: url(/src/assets/fonts/mono-space/IBMPlexMono-ExtraLightItalic.ttf);
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: primary-font;
  src: url(/src/assets/fonts/mono-space/IBMPlexMono-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: primary-font;
  src: url(/src/assets/fonts/mono-space/IBMPlexMono-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: primary-font;
  src: url(/src/assets/fonts/mono-space/IBMPlexMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: secondary-font;
  src: url(/src/assets/fonts/serif/CorporateAPro-Medium.woff2),
    url(/src/assets/fonts/serif/CorporateAPro-Medium.woff),
    url(/src/assets/fonts/serif/CorporateAPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: secondary-font;
  src: url(/src/assets//fonts/serif/CorporateAPro-Regular.woff2),
    url(/src/assets//fonts/serif/CorporateAPro-Regular.woff),
    url(/src/assets//fonts/serif/CorporateAPro-Regular.ttf);
  font-weight: 400;
}
